body {
  background: #0d1117;
  color: #e5e7eb;
  /*font-family: 'Inter', sans-serif;*/
}

/* HEADER FIXO */
header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(13, 17, 23, 0.9);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  color: #06b6d4;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fffff5e;
}

section {
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

section:hover {
  transition: background-color 0.4s ease;
}